<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="css/general.css">
    <script src="js/general.js"></script>
</head>

<body>
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    <hr>
    <div class = "main_container">
        <!--검색-->
        <input type="text" name="search" class="search"><br>
        <!--카테고리-->
        <div class="restaurant_category">
            <button type="submit" name="category" value="cn">중식</button>
            <button type="submit" name="category" value="jp">일식</button>
            <button type="submit" name="category" value="eu">양식</button>
            <button type="submit" name="category" value="eu">한식</button>
            <button type="submit" name="category" value="eu">분식</button>
            <button type="submit" name="category" value="random">랜덤</button>
        </div>
    </div>
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>