<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <th:block th:replace="fragments/commoncss :: commoncssFragment"></th:block>
    <script src="js/general.js"></script>
</head>

<body>
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    <div class = "main_container">
        <!--검색-->
        <form action="restaurant/list/name" method="get">
            <input type="text" name="name" class="search"><br>
        </form>
        <!--카테고리-->

        <div class="restaurant_category">
            <form action="restaurant/list/category" method="get">
                <button type="submit" name="category" value="CN">중식</button>
                <button type="submit" name="category" value="JP">일식</button>
                <button type="submit" name="category" value="EU">양식</button>
                <button type="submit" name="category" value="KR">한식</button>
                <button type="submit" name="category" value="BS">분식</button>
                <button type="submit" name="category" value="random">랜덤</button>
            </form>
        </div>

    </div>
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>