<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <th:block th:replace="fragments/commoncss :: commoncssFragment"></th:block>
</head>

<body>
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    <div class = "main_container">
        <!--검색-->
        <form action="/restaurant/list" method="get">
            <input type="text" name="keyword" class="search"><br>
        </form>
        <!--카테고리-->

        <div class="restaurant_category">
            <form action="restaurant/list" method="get">
                <button type="submit" name="category" value="CN" id="cn"><span style="background-color: rgba(0.2,0.2,0.2,0.8); padding : 10px 20px; opacity: 1">중식</span></button>
                <button type="submit" name="category" value="JP" id="jp"><span style="background-color: rgba(0.2,0.2,0.2,0.8); padding : 10px 20px; opacity: 1">일식</span></button>
                <button type="submit" name="category" value="EU" id="eu"><span style="background-color: rgba(0.2,0.2,0.2,0.8); padding : 10px 20px; opacity: 1">양식</span></button>
                <button type="submit" name="category" value="KR" id="kr"><span style="background-color: rgba(0.2,0.2,0.2,0.8); padding : 10px 20px; opacity: 1">한식</span></button>
                <button type="submit" name="category" value="BS" id="bs"><span style="background-color: rgba(0.2,0.2,0.2,0.8); padding : 10px 20px; opacity: 1">분식</span></button>
                <button type="submit" name="category" value="YS" id="ys"><span style="background-color: rgba(0.2,0.2,0.2,0.8); padding : 10px 20px; opacity: 1">야식</span></button>
                <button type="submit" name="category" value="CF" id="cf"><span style="background-color: rgba(0.2,0.2,0.2,0.8); padding : 10px 20px; opacity: 1">카페</span></button>
            </form>
        </div>

    </div>
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>