/*header*/
header > ul > li {
    display: inline;
    margin: 0px;
}
header {
    padding: 2%;
    display: flex;
    margin:  0 auto;
}
header > ul {
    margin-left: auto;
}
/*footer*/

/*general*/
a {
    text-decoration: none;
    color: gray;
}
hr{
    background-color: #DDDDDD;
    height: 1px;
    border: 0;
}
body {
    margin: 0 10vw;
}
/*main*/
.main_container > .search {
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px center;
    background-color: #DDDDDD;
    border: none;
    padding: 10px;
    border-radius: 100px;
    padding-left: 40px;
    width: 80%;
    margin : 100px auto 50px;
    display : block;
}
.main_container > .search:focus {
    border: none;
    outline: none;
}
.main_container > .restaurant_category {
    margin : 0 auto;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    width: 84%;
}
.main_container > .restaurant_category > button
{
    width : 14vw;
    height: 14vw;
    margin : 1vw;
    border: 0;
    border-radius: 20px;
    font-size : 24px;
    font-weight: bold;
    color: white;
}

.main_container > .restaurant_category > button:hover
{
    cursor: pointer;
}
