<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragments/commoncss :: commoncssFragment"></th:block>
    <title>details</title>
</head>
<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
    <h2>details</h2>
<table>
    <tr>
        <th>가게명</th>
        <td th:text="${detail.name}"></td>
    </tr>
    <tr>
        <th>사진</th>
        <td th:text="${detail.thumbnail}"></td>
    </tr>
    <tr>
        <th>주소</th>
        <td th:text="${detail.address}"></td>
    </tr>
    <tr>
        <th>오픈</th>
        <td th:text="${detail.start_time}"></td>
    </tr>
    <tr>
        <th>마감</th>
        <td th:text="${detail.end_time}"></td>
    </tr>
    <tr>
        <th>가게상세</th>
        <td th:text="${detail.description}"></td>
    </tr>
    <form th:action="@{|/reservation/${detail.rno}|}" method="get">
        <button type="submit">예약하기</button>
    </form>
<!--    <tr>-->
<!--        <th></th>-->
<!--        <td th:text="${detail.phone_nubmer}"></td>-->
<!--    </tr>-->
</table>
<form action="/comment/register" method="post">
    <input type="hidden" name="rno" th:value="${detail.rno}">
    <select name="rate" id="category">
        <option value="1">★☆☆☆☆</option>
        <option value="2">★★☆☆☆</option>
        <option value="3">★★★☆☆</option>
        <option value="4">★★★★☆</option>
        <option value="5">★★★★★</option>
    </select><br>
    <textarea name="review" id="" cols="30" rows="10" placeholder="댓글을 입력해주세요."></textarea>
    <button type="submit">등록</button>
</form>

<tr th:each="comment: ${commentList}">
    <td th:text="${comment.nickname}"></td>
    <td th:text="${comment.review}"></td>
    <td th:text="${comment.rate}"></td>
    <form action="/comment/delete" method="post">
        <input type="hidden" name="cno" th:value="${comment.cno}">
        <button type="submit">x</button>
    </form>

    <br>
</tr>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>