<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <th:block th:replace="fragments/commoncss :: commoncssFragment"></th:block>
</head>
<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
    <h2>Restaurant List Page</h2>
    <table>
        <tr>
            <th>썸네일</th>
            <th>레스토랑 명</th>
            <th>상 세</th>
            <th>카테고리</th>
        </tr>
        <tr th:each="restaurant: ${restaurantList}">
            <!--/*@thymesVar id="name" type=""*/-->
            <td th:text="${restaurant.thumbnail}"></td>
            <td th:text="${restaurant.name}"></td>
            <td th:text="${restaurant.description}"></td>
            <td th:text="${restaurant.category}"></td>
        </tr>
    </table>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
<script>
</script>
</html>