<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <th:block th:replace="fragments/commoncss :: commoncssFragment"></th:block>
</head>
<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
    <h2>Restaurant List Page</h2>
    <div>
        <span>썸네일</span>
        <span>가게이름</span>
        <span>상세</span>
        <span>카테고리</span>
    </div>
    <div th:each="restaurant: ${restaurantList}">
        <a th:href="@{/restaurant/details/{rno}(rno = ${restaurant.rno})}">
        <img th:src="${restaurant.thumbnail}" th:alt="${restaurant.thumbnail}">
        <span th:text="${restaurant.name}"></span>
        <span th:text="${restaurant.description}"></span>
        <span th:text="${restaurant.category}"></span>
        </a>
    </div>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
<script>
</script>
</html>