<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <th:block th:replace="fragments/commoncss :: commoncssFragment"></th:block>
</head>
<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
    <h2>Restaurant List Page</h2>
    <!--검색-->
    <div class = "main_container">
        <form action="/restaurant/list/name" method="get">
            <input type="text" name="name" class="search"><br>
        </form>
    </div>
<a th:each="restaurant: ${restaurantList}" th:href="@{/restaurant/details/{rno}(rno = ${restaurant.rno})}">
    <div  class="restaurant_list_container">

        <img class="image" th:src="${restaurant.thumbnail}" th:alt="${restaurant.thumbnail}">
        <span class="restaurant_name" th:text="${restaurant.name}"></span>
        <span class="restaurant_description" th:text="${restaurant.description}"></span>
        <!--<span th:text="${restaurant.category}"></span>-->

    </div>
</a>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
<script>
</script>
</html>