<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
    <link rel="stylesheet" href="/css/userInfo.css">
    <th:block th:replace="fragments/commoncss :: commoncssFragment"></th:block>
</head>
<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
        <form method="POST" action="/restaurant/save" enctype="multipart/form-data">
            <table>
                <tr>
                    <th>가게이름</th>
                    <td><input type="text" name="name" id="name"></td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td><input type="text" name="address" id="address"></td>
                </tr>
                <tr>
                    <th>사업자번호</th>
                    <td><input type="text" name="business_number" id="business_number"></td>
                </tr>
                <tr>
                    <th>가게번호</th>
                    <td><input type="text" name="phone_number" id="phone_number"></td>
                </tr>
                <tr>
                    <th>테이블 수</th>
                    <td><input type="text" name="duplicate_reservation" id="duplicate_reservation"></td>
                </tr>
                <tr>
                    <th>카테고리 선택</th>
                    <td><select name="category" id="category">
                        <option value="KR">한식</option>
                        <option value="CN">중식</option>
                        <option value="JP">일식</option>
                        <option value="EU">양식</option>
                        <option value="BS">분식</option>
                    </select></td>
                </tr>

                <tr>
                    <th>영업시작</th>
                    <td><input type="time" name="start_time" id="start_time"></td>
                </tr>
                <tr>
                    <th>영업종료</th>
                    <td><input type="time" name="end_time" id="end_time"></td>
                </tr>
                <tr>
                    <th>가게 설명</th>
                    <td><textarea type="text" name="description" id="description" cols="30" rows="10"></textarea></td>
                </tr>
                <tr>
                    <th>썸네일 사진</th>
                    <td><input type="file" name="thumbnail" id="thumbnail"></td>
                </tr>
            </table>
          <button type="submit" id="restaurant_registration">레스토랑등록</button>
        </form>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>