<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragments/commoncss :: commoncssFragment"></th:block>
    <link rel="stylesheet" href="/css/userInfo.css">
    <title>delete</title>
</head>
<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<div>
    <div class = "sub_container">
        <ul>
            <li><a href="/user/myPage">마이 페이지</a> </li>
            <li><a href="/user/modify"> 회원 정보 수정</a></li>
            <li><a onclick="getManager()">관리자 등록</a></li>
            <li><a href="/user/checkPassword">회원 탈퇴</a></li>
        </ul>
    </div>
    <div class="v_line"></div>
    <div class = "main_container">
        <table>
            <tr>
                <th>비밀번호 확인</th>
                <td><input type="password"  id="password"></td>
            </tr>
        </table>
        <button id="check_pass">회원 탈퇴</button>
    </div>
</div>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
<script>
    $("#check_pass").click(function () {

        const id = $("#id").val();
        const password = $("#password").val();

        const data = {
            'username': id,
            'password': password
        }
        $.ajax({
            url: "/user/delete",
            type: "DELETE",
            data: JSON.stringify(data),
            contentType: "application/json; charset=UTF-8",
            success: function(data){
                alert("비밀번호가 맞습니다.");
                if(data) $(location).attr('href','/');
                else alert("비밀번호가 맞지 않습니다.");
            },
            error: function(){
                alert("비밀번호가 맞지 않습니다.");
            }
        });
    });
</script>
</html>