<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>modify</title>
    <link rel="stylesheet" href="/css/userInfo.css">
    <th:block th:replace="fragments/commoncss :: commoncssFragment"></th:block>
</head>
<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<div>
    <div class = "sub_container">
        <ul>
            <li><a href="/user/myPage">마이 페이지</a> </li>
            <li><a href="/user/modify"> 회원 정보 수정</a></li>
            <li><a onclick="getManager()">관리자 등록</a></li>
            <li><a href="/user/checkPassword">회원 탈퇴</a></li>
            <li><a th:if="${#strings.equals(session.role,'MANAGER')}" href="/user/myRestaurant">내 가게</a></li>
        </ul>
    </div>
    <div class="v_line"></div>
    <div class = "main_container">
        <h3>회원 정보 수정</h3>
        <div class=middle>
            <table>
                <tr>
                    <th>ID</th>
                    <td><input type="text" class="disabled" name="" id="username" disabled="disabled" th:value="${userInfo.username}"></td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td><input type="text" class="disabled" name="" id="name" disabled="disabled" th:value="${userInfo.name}"></td>
                </tr>
                <tr>
                    <th>닉네임</th>
                    <td><input type="text" name="" id="nickname" th:value="${userInfo.nickname}"></td>
                </tr>
                <tr>
                    <th>현재 비밀번호</th>
                    <td><input type="password" name="" id="current_pass"></td>
                </tr>
                <tr>
                    <th>새 비밀번호</th>
                    <td><input type="password" name="" id="new_pass"></td>
                </tr>
                <tr>
                    <th>비밀번호 확인</th>
                    <td><input type="password" name="" id="check_pass"></td>
                </tr>

                <tr>
                    <th>Email</th>
                    <td><input type="text" name="" id="email" th:value="${userInfo.email}"></td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td><input type="text" name="" id="phone_number" th:value="${userInfo.phone_number}"></td>
                </tr>
            </table>
        </div>
        <button id="submit">회원 정보 수정</button>
    </div>
</div>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
<script>
    $("#check_pass").blur(function () {
        if($("#check_pass").val() != $("#new_pass").val()) {
            $("#check_pass").css("border", "2px solid");
            $("#check_pass").css("border-color", "red");
        }
        else
        {
            $("#check_pass").css("border-left-width","0");
            $("#check_pass").css("border-right-width","0");
            $("#check_pass").css("border-top-width","0");
            $("#check_pass").css("border-bottom-width","2px");
            $("#check_pass").css("border-color", "#FFAA00");
            $("#check_pass").css("border-style", "solid");
        }
    });
    $("#submit").click(function () {
        if(submitCheck==false)
        {
            alert("아이디 중복확인 먼저 해주세요");
            return;
        }
        if($("#check_pass").val() != $("#new_pass").val())
        {
            alert("비밀번호가 맞지 않습니다. 다시 확인해주세요");
            return;
        }

        const username = $("#username").val();
        const password = $("#new_pass").val();
        const name = $("#name").val();
        const nickname = $("#nickname").val();
        const email = $("#join_email").val();
        const phone_number = $("#join_phone").val();

        const data = {
            'username': username,
            'password': password,
            'name': name,
            'nickname': nickname,
            'email': email,
            'phone_number': phone_number
        }
        $.ajax({
            url: "/user/register",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json; charset=UTF-8",
            success: function(data){
                alert("수정 되었습니다.");
                $(location).attr('href','/');
            },
            error: function(){
                alert("err");
            }
        });
    });
</script>
</html>