<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>modify</title>
    <link rel="stylesheet" href="/css/userInfo.css">
    <th:block th:replace="fragments/commoncss :: commoncssFragment"></th:block>
</head>
<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<div>
    <div class = "sub_container">
        <ul>
            <li><a href="/user/myPage">마이 페이지</a> </li>
            <li><a href="/user/modify"> 회원 정보 수정</a></li>
            <li><a href="/user/checkPassword">회원 탈퇴</a></li>
        </ul>
    </div>
    <div class="v_line"></div>
    <div class = "main_container">
        <ul>
            <li><input type="text" name="" id="" disabled="disabled">아이디 <span th:value="${userInfo.username}"></span></li>
            <li><input type="text" name="" id="">닉네임 <span></span></li>
            <li><input type="password" name="" id="">비밀번호 <span></span></li>
            <li><input type="password" name="" id="">비밀번호 확인<span></span></li>
            <li><input type="text" name="" id="">이메일 <span></span></li>
            <li><input type="text" name="" id="">전화번호 <span></span></li>
        </ul>
    </div>
</div>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>