<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign page</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/sign.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/sign.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <!--로고-->
        <a href="/"> <img src="../img/logo.png" alt="asd" width="260px"></a>
      
    </header>
    <hr>
    <div class="body">
          <div class="section">
            <div class="container">
              <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                  <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                          <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                          <label for="reg-log"></label>
                    <div class="card-3d-wrap mx-auto">
                      <div class="card-3d-wrapper">
                        <div class="card-front">
                          <div class="center-wrap">
                            <div class="section text-center">
                              <h4 class="mb-4 pb-3">Log In</h4>
                              <div class="form-group">
                                <input type="text" name="login_id" class="form-style" placeholder="Your Email" id="login_id">
                                <i class="input-icon uil uil-at"></i>
                              </div>  
                              <div class="form-group mt-2">
                                <input type="password" name="login_pass" class="form-style" placeholder="Your Password" id="login_pass" autocomplete="off">
                                <i class="input-icon uil uil-lock-alt"></i>
                              </div>
                              <a href="#" class="btn mt-4" id="login">submit</a>
                                            <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p>
                                </div>
                              </div>
                            </div>
                        <div class="card-back">
                          <div class="center-wrap">
                            <div class="section text-center">
                              <h4 class="mb-4 pb-3">Sign Up</h4>
                              <div class="form-group">
                                <input type="text" name="join_username" class="form-style" placeholder="Your ID" id="join_username" autocomplete="off">
                                <i class="input-icon uil uil-user"></i>
                              </div>
                                <button type="button" id="id_check">중복확인</button>
                              <div class="form-group mt-2">
                                <input type="password" name="join_pass" class="form-style" placeholder="Your Password" id="join_pass" autocomplete="off">
                                <i class="input-icon uil uil-lock-alt"></i>
                              </div>
                              <div class="form-group mt-2">
                                <input type="password" name="join_checkpass" class="form-style" placeholder="Password check" id="join_checkpass">
                                <i class="input-icon uil uil-lock-alt"></i>
                              </div>
                              <div class="form-group mt-2">
                                <input type="text" name="join_name" class="form-style" placeholder="Your Name" id="join_name" autocomplete="off">
                                <i class="input-icon uil uil-lock-alt"></i>
                              </div>
                              <div class="form-group mt-2">
                                <input type="text" name="join_nickname" class="form-style" placeholder="Your Nickname" id="join_nickname" autocomplete="off">
                                <i class="input-icon uil uil-lock-alt"></i>
                              </div>
                              <div class="form-group mt-2">
                                <input type="email" name="join_email" class="form-style" placeholder="Your Email" id="join_email" autocomplete="off">
                                <i class="input-icon uil uil-at"></i>
                              </div>  
                              <div class="form-group mt-2">
                                <input type="text" name="join_phone" class="form-style" placeholder="Your PhoneNumber" id="join_phone" autocomplete="off">
                                <i class="input-icon uil uil-lock-alt"></i>
                              </div>
                              <a href="#" class="btn mt-4" id="join">submit</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
    </div>
    <footer>
        <hr>
        <p>footer입니다</p>
    </footer>
    
</body>
<script>
    let submitCheck = false;
    $("#join_checkpass").blur(function () {
        if($("#join_checkpass").val() != $("#join_pass").val()) {
            $("#join_checkpass").css("border", "2px solid");
            $("#join_checkpass").css("border-color", "red");
        }
        else
            $("#join_checkpass").css("border", "none");
    });
  $("#join").click(function () {
      if(submitCheck==false)
      {
          alert("아이디 중복확인 먼저 해주세요");
          return;
      }
      if($("#join_checkpass").val() != $("#join_pass").val())
      {
          alert("비밀번호가 맞지 않습니다. 다시 확인해주세요");
          return;
      }

      const username = $("#join_username").val();
      const password = $("#join_pass").val();
      const name = $("#join_name").val();
      const nickname = $("#join_nickname").val();
      const email = $("#join_email").val();
      const phone_number = $("#join_phone").val();

      const data = {
          'username': username,
          'password': password,
          'name': name,
          'nickname': nickname,
          'email': email,
          'phone_number': phone_number
      }
      $.ajax({
          url: "/user/register",
          type: "POST",
          data: JSON.stringify(data),
          contentType: "application/json; charset=UTF-8",
          success: function(data){
              alert("회원 가입되었습니다.");
              $(location).attr('href','/');
          },
          error: function(){
              alert("err");
          }
      });
  });
  $("#login").click(function () {

      const id = $("#login_id").val();
      const password = $("#login_pass").val();

      const data = {
          'username': id,
          'password': password
      }
      $.ajax({
          url: "/user/login",
          type: "POST",
          data: JSON.stringify(data),
          contentType: "application/json; charset=UTF-8",
          success: function(data){
              $(location).attr('href','/');
          },
          error: function(){
              alert("아이디 또는 비밀번호가 맞지 않습니다.");
          }
      });
  });

    $("#id_check").click(function() {
        let username = $('#join_username').val();

        $.ajax({
            type: "get",
            url: "/user/checkid?username=" + username
        }).done((res) => {
            console.log(res);
            if (res == true) {
                alert("사용할 수 있는 아이디입니다.");
                submitCheck = true; // 중복 체크 완료
            } else {
                alert("이미 사용중인 아이디입니다.");
                submitCheck = false;
            }

        }).fail((err) => {
            console.log('상태코드 200밖에 없어서 실행 안됨')
        });
    });
</script>


</html>