<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/userInfo.css">

    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/userInfo.css">
</head>
<body>
    <header>
        <!--로고-->
        <a href=""> <img src="img/logo.png" alt="asd" width="260px"></a>
        <ul>
            <li><a th:if="${#strings.isEmpty(session.username)}" href="/user/sign">로그인</a></li>
            <li><a th:unless="${#strings.isEmpty(session.username)}" href="#" onclick="javascript:page_move('/user/logout');">로그아웃</a></li>
            <li><a href="/user/myPage">마이페이지</a></li>
            <li th:unless="${#strings.isEmpty(session.username)}"><span th:text="${session.username}"></span>님 반갑습니다</li>
        </ul>

    </header>
    <hr>
    <div>
        <div class = "sub_container">
            <ul>
                <li>비밀번호 변경</li>
                <li>회원 탈퇴</li>
            </ul>
        </div>
        <div class="v_line"></div>
        <div class = "main_container">
            <ul>
                <li>아이디 <span></span></li>
                <li>닉네임 <span></span></li>
                <li>이메일 <span></span></li>
                <li>전화번호 <span></span></li>
            </ul>
        </div>
    </div>
    <footer>
        <hr>
        <p>footer입니다</p>
    </footer>
</body>
</html>