<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
    <th:block th:replace="fragments/commoncss :: commoncssFragment"></th:block>
    <link rel="stylesheet" href="/css/userInfo.css">
</head>
<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
    <div>
        <div class = "sub_container">
            <ul>
                <li><a href="/user/myPage">마이 페이지</a> </li>
                <li><a href="/user/modify"> 회원 정보 수정</a></li>
                <li><a onclick="getManager()">관리자 등록</a></li>
                <li><a href="/user/checkPassword">회원 탈퇴</a></li>
            </ul>
        </div>
        <div class="v_line"></div>
        <div class = "main_container">

            <h3>My Info</h3>
            <div class=middle>
                <table>
                    <tr>
                        <th>ID</th>
                        <td><span th:text="${userInfo.username}"> </span></td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td><span th:text="${userInfo.name}"></span></td>
                    </tr>
                    <tr>
                        <th>닉네임</th>
                        <td><span th:text="${userInfo.nickname}"></span></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><span th:text="${userInfo.email}"></span></td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td><span th:text="${userInfo.phone_number}"></span></td>
                    </tr>
                </table>
            </div>
            <h3>예약정보</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">가게 이름</th>
                    <th scope="col">예약 시간 </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reservation: ${reservationList}">
                    <td class="noBorder" th:text="${reservation.name}"></td>
                    <td class="noBorder" th:text="${reservation.reservation_time}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>